* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: open sans;
    color: #eee;
    background: rgb(190, 60, 121);
    background-image: linear-gradient(
        to left top,
        rgb(119, 46, 78) 9%,
        rgb(228, 59, 135) 59%
    );
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-weight: 100;
}

.container {
    margin: 50px auto;
    position: relative;
    width: 700px;
    border-radius: 5px;
    background-color: rgba(204, 187, 195, 0.5);
    display: flex;
    flex-direction: row;
    box-shadow:
        0 4px 8px 0 rgba(0, 0, 0, 0.19),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn {
    border-radius: 30px;
    height: 35px;
    width: 8rem;
    border: none;
    margin: 8px 0px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow:
        0 1px 20px 0 rgba(0, 0, 0, 0.19),
        0 1px 20px 0 rgba(0, 0, 0, 0.19);
}

.diceImage img {
    margin: 25px 0px;
    box-shadow:
        0 4px 8px 0 rgba(0, 0, 0, 0.19),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn2 {
    margin: 45px 0px 0px 0px;
}

.left,
.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    background-color: rgb(228, 59, 135, 0.1);
}

.left_low,
.right_low {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 2;
    border-radius: 5px;
    width: 150px;
    height: 80px;
    margin: 60px 0px;
    background-color: rgb(100, 7, 49);
}

.middle {
    height: 100%;
    z-index: 1;
    position: absolute;
    margin-top: 12px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player {
    font-size: 1.5rem;
    color: black;
    padding: 30px 30px 10px 30px;
}

.active {
    background-color: rgba(250, 235, 215, 0.6);
    font-weight: 400;
}

.current {
    font-size: 0.9rem;
    padding: 10px 0px;
}

.Score1,
.Score2 {
    font-size: 1.5rem;
    padding-bottom: 15px;
}

.totalScore1,
.totalScore2 {
    font-size: 3rem;
    padding: 5px 0px;
    color: rgb(100, 7, 49);
}

.win1,
.win2 {
    visibility: hidden;
}
